html,body {
  font-family: 'Arimo', sans-serif;
  font-size: 16px !important;
  background-color: $background-color;
  @include font-smoothing;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
*{
  padding: 0;
  margin: 0;
}
a{
  &:hover{
    text-decoration: none;
  }
}
::-webkit-scrollbar {
  width: 12px;
}

/* line 1313, ../sass/style.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/* line 1318, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

pre{
  display: block;
  width: 100% !important;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #26293a !important;
  border: none !important;
  border-radius: 0px !important;
  overflow-x: auto;
  color: #C1C2C3;
}
