/* color main */
  $color-brand: #11819e;
  $color-brand-highlight: lighten($color-brand, 15%);
  $color-brand-shadow: darken($color-brand, 5%);

  $color-active: #11819e;
  $color-active-highlight: lighten($color-active, 15%);
  $color-active-shadow: darken($color-active, 15%);

  $color-gray: #fff;
  $color-medium-gray: #6a6e72;
  $color-gray-light: #edeff2;
  $color-gray-dark: #27292b;

  $color-shadow: #afb1b5;
  $color-border: #d9dee2;

/* background color */
  $background-color: rgba(0,0,0,0.05);

/* Text */
  $color-text: $color-gray-dark;

/* Links */
  $color-link: $color-brand;
  $color-link-hover:  $color-active;

/* Buttons */
  $color-btn: $color-brand;
  $color-btn-hover: darken($color-brand, 15%);

/* Colors picker */
  $color-aqua: #20b4c9;
  $color-medium-aqua: #56dbc6;
  $color-pink: #ff919e;
  $color-black: #000;
  $color-green: #98db65;
  $color-red: #ff0000;
  $color-orange: #f15c00;
  $color-white: #fff;
  $color-blue: #0073bb;
  $color-yellow: #ffd240;
