@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

/* box shadow */
@mixin box-shadow($size,$color){
  box-shadow: 0px 0px $size $color;
  -moz-box-shadow: 0px 0px $size $color;
  -o-box-shadow: 0px 0px $size $color;
  -webkit-box-shadow: 0px 0px $size $color;
}

@mixin box-shadow($size,$color){
  box-shadow: $size $color;
  -moz-box-shadow: $size $color;
  -o-box-shadow: $size $color;
  -webkit-box-shadow: $size $color;
}

/* flex */
@mixin flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* media queries */
/* device */
$mobile-small: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1170px;

@mixin mobile-small {
	@media (max-width: #{$mobile-small}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
		@content;
	}
}

@mixin large_desktop {
	@media (min-width: #{$large-desktop-width}) {
		@content;
	}
}


/* button */
@mixin button($color, $background, $border){
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover{
    color: $color;
    background-color: draken($background, 10%);
    border-color: draken($background, 12%);
  }
  &.active{
    color: $color;
    background-color: draken($background, 15%);
    border-color: draken($background, 16%);
  }
}
