/* float */

.fl-l{
  float: left;
}
.fl-r{
  float: right;
}

/* padding */
.pd-10{
  padding: 10px;
}
.pd-15{
  padding: 15px;
}
.pd-hoz-30{
  padding-right: 30px;
  padding-left: 30px;
}
/* padding center */
.pd-center{
  margin: 0 auto;
  text-align: center;
}
/* pd-hoz-0 */
.pd-hoz-0{
  padding-left: 0px;
  padding-right: 0px;
}

/* margin */
.mr-t-15{
  margin-top: 15px;
}
.mr-b-10{
  margin-bottom: 10px;
}
.mr-b-20{
  margin-bottom: 20px;
}