$base-small-margin: 5px;
$base-medium-margin: 10px;
$base-margin: 15px;
$base-large-margin: 20px;
$base-double-margin: 30px;

$base-font-size: 15px;
$base-font-medium-size: 13px;
$base-font-small-size: 12px;
$base-font-large-size: 18px;
$base-line-height: 24px;

$base-radius: 3px;
$base-medium-radius: 5px;
$base-full-radius: 100%;
$base-spacing-unit: $base-line-height;


$base-margin: 15px;
