.blog-aside{
  padding-bottom: 40px;
  width: 280px;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  background: #24282f;
  z-index: 1001;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;

  @include tablet{
    display: none;
  }

  @include mobile{
    display: none;
  }
}
.blog-aside__avata{
  width: 100%;
  height: 100px;
  float: left;
  margin: 0px 0 65px 0;
  text-align: center;
  a{
    display: inline-block;
  }
  img{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50px;
    margin-top: 50px;
    border: 5px solid rgba(#000, 0.3);
  }
}
.blog-aside__menu{
  width: 100%;
  float: left;
  margin-top: 80px;
  ul{
    width: 100%;
    float: left;
    li{
      list-style: none;
      float: left;
      width: 100%;
      text-align: center;
      &.current-menu-item{
        a{
          color: $color-brand !important;
          letter-spacing: 3px !important;
          &:after{
            content: '';
            position: absolute;
            top: 40px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 30px;
            height: 1px;
            background: $color-brand;
          }
        }
      }
      a{
        width: 100%;
        float: left;
        height: 50px;
        margin-bottom: 10px;
        line-height: 50px;
        color: rgba(255,255,255,1);
        position: relative;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-family: Oswald, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        &.active, &:hover{
          color: $color-brand;
          letter-spacing: 3px;
          &:after{
            content: '';
            position: absolute;
            top: 40px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 30px;
            height: 1px;
            background: $color-brand;
          }
        }
      }
    }
  }
}

.blog-aside__footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  background: rgba(#000, 0.1);
  line-height: 50px;
  span{
    width: 100%;
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: 13px;
    clear: both;
  }
}

.txt_name{
  text-align: center;
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  padding-bottom: 10px;
}
.txt_position{
  text-align: center;
  font-family: Oswald, Helvetica, sans-serif;
  font-size: 13px;
  color: #bbd8df;
  letter-spacing: 1px;
}
