
.blog-main{
  width: 100%;
  float: right;
  padding-left: 280px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  @include tablet{
    padding-left: 0;
  }
  @include mobile{
    padding-left: 0;
  }
}
.header-mobile{
  width: 100%;
  height: 80px;
  position: relative;
  background: rgb(51, 55, 61);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
  z-index: 1001;
  position: relative;
  @include font-smoothing;

  @include large-desktop {
    display: none;
  }
  @include desktop {
    display: none;
  }

}
.header-mobile__avata{
  width: auto;
  height: 60px;
  float: left;
  img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 5px solid rgba(#000, 0.2);
    margin: 10px 20px 10px 20px;
  }
}
.header-mobile__name{
  float: left;
  margin: 15px 0 0 0;
  &--main{
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
  }
  &--sub{
    font-size: 13px;
    color: rgba(#fff, 0.8);
  }
}
.nav-toggle__icon{
  position: fixed;
  right: 5px;
  top: -5px;
  z-index: 1002;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  i{
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 20px;
    height: 1px;
    color: #fff;
    font: bold 14px/0.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    transition: all .2s ease-out;
    &::before, &::after{
      content: '';
      width: 30px;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    &::before{
      top: -7px;
    }
    &::after{
      bottom: -7px;
    }
  }

  @include mobile{
    visibility: inherit;
  }
}
.nav-toggle__icon.active{
  i{
    background: transparent;
    &::before{
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
    &::after{
      bottom: 0;
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    }
  }
}
.menu__mobile{
  position: absolute;
  width: 100%;
  height: auto;
  top: 60px;
  background-color: #282c31;
  display: none;
  -webkit-transition: all ease 0.2s;
       -o-transition: all ease 0.2s;
          transition: all ease 0.2s;
  li{
    list-style: none;
    float: left;
    width: 100%;
    a{
      color: #fff;
      width: 100%;
      height: 50px;
      line-height: 50px;
      float: left;
      padding-left: 15px;
      font-size: 14px;
      .fa{
        float: left;
        margin: 16px 10px 0 0;
      }
    }
  }
}
li.menu__mobile__main{
  a{
    color: #fff;
  }
}
li.menu__mobile__sub{
  a{
    padding-left: 25px;
    font-size: 13px;
    background: rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.5);
    margin-bottom: 1px;
  }
}

.blog-main__header{
  width: 100%;
  min-height: 60px;
  background: #fff;
  display: table;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}
ul.blog-main__header-menu{
  width: 100%;
  float: left;
  li{
    float: left;
    list-style: none;
    @include mobile{
      width: 100%;
      float: left;
    }
    @include mobile-small{
      width: 100%;
    }
    img{
      margin-right: 5px;
      width: 25px;
    }
    a{
      padding-left: 22px;
      padding-right: 30px;
      height: 60px;
      line-height: 60px;
      font-size: 14px;
      display: table;
      color: rgba(0,0,0,0.7);
      font-family: Oswald, Helvetica, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover, &.active{
        color: $color-aqua;
        img{
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
        }
      }

    }
  }
}
.category-post-counter{
  color: rgba($color-orange, 1);
}
.follow-block{
  float: right;
}
.follow-block__title{
  float: left;
  line-height: 60px;
}
.face_button{
  float: left;
}
.skype__online__chat{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: $color-aqua;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  img{
    margin: 10px 0 0 0px !important;
    vertical-align: 0 !important;
  }
}
.blog-main__title{
  width: 100%;
  float: left;
  padding: 40px 20px;
  text-align: center;
  .post-icon{
    display: inline-block;
    float: inherit;
    margin-bottom: 15px;
    img.icon-post{
      width: 45px;
    }
  }
  h1{
    font-size: 32px;
    color: rgba(#000, 0.7);
    text-transform: capitalize;
  }
  p{
    padding-top: 15px;
    color: rgba(#000, 0.8);
  }
}
