/** comment **/
.post-comments{
  width: calc(100% - 0px);
  float: left;
}
#wpcomm form{
  width: calc(100% - 60px) !important;
  margin-left: 30px !important;
  margin-top: 15px !important;
  @include tablet{
    width: calc(100% - 40px) !important;
    margin-left: 20px !important;
  }
  @include mobile{
    width: calc(100% - 30px) !important;
    margin-left: 15px !important;
  }
}
.wpdiscuz-front-actions{
  display: none !important;
}
#wpcomm .wc-thread-wrapper{
  padding: 0 30px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  @include tablet{
    padding: 0 10px !important;
  }
  @include mobile{
    padding: 0 5px !important;
  }
}
.wpdiscuz-form-top-bar{
  display: none !important;
}
.wc-field-avatararea img, #wpcomm .avatar{
  box-shadow: none !important;
}
#wpcomm .wc-blog-guest > .wc-comment-left .wc-comment-label, #wpcomm .wc-blog-post_author > .wc-comment-left .wc-comment-label{
  border-bottom: none !important;
}
#wpcomm .wc-comment-label{
  box-shadow: none !important;
}
.wc-comment-link{
  display: none !important;
}
h3#wc-comment-header{
  font-size: 15px !important;
  padding-left: 30px !important;
  @include tablet{
    padding-left: 20px !important;
  }
  @include mobile{
    padding-left: 15px!important;
  }
}
.wc-comment-left {
  width: 50px !important;
}
#wpcomm .wc-comment .wc-comment-right{
  margin-left: 60px !important;
}
#wpcomm .wc-comment-author{
  font-size: 15px !important;
  padding-left: 0px !important;
}
.wc-comment-text p{
  padding-left: 5px !important;
}
.wc-field-avatararea img, #wpcomm .avatar{
  border-radius: 100% !important;
}
#wc-comment-header{
  display: none !important;
}
#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea{
  font-size: 15px !important;
}
.post-comments-title{
  width: calc(100% - 60px);
  float: left;
  font-weight: bold;
  margin: 15px 30px;
  img{
    float: left;
    margin: 0 10px 0 0 !important;
    width: 20px;
  }
  @include mobile{
    width: calc(100% - 30px);
    margin: 15px;
  }
}
#wpcomm .wc-reply .wc-comment-right{
  background: #fff !important;
}
#wpcomm .wpdiscuz-form-bottom-bar{
  display: none !important;
}
#wpcomm .wc-comment .wc-comment-right{
  margin-top: 15px !important;
}
#wpcomm{
  max-width: 100% !important;
}
