#add-block{
  width: 100%;
  float: left;
  min-height: 200px;
  background-color: #6f13a9;
  background-image: -webkit-linear-gradient(75deg,#a819b1 0%,#6f13a9 100%);
  background-image: -webkit-linear-gradient(15deg,#a819b1 0%,#6f13a9 100%);
  background-image: -o-linear-gradient(15deg,#a819b1 0%,#6f13a9 100%);
  background-image: linear-gradient(75deg,#a819b1 0%,#6f13a9 100%);
}
footer{
  width: 100%;
  float: left;
  background: #1f242c;
  min-height: 60px;
  display: none;
  @include tablet{
    display: block;
  }
  @include mobile{
    display: block;
  }
  @include mobile-small{
    display: block;
  }
}
.footer__copyright{
  float: left;
  height: 60px;
  line-height: 60px;
  color: rgba(#fff, 0.8);
  padding-left: 20px;
  font-size: 13px;
}
.follow-me{
  float: right;
  a{
    display: table;
    padding: 0 25px 0 0;
    height: 40px;
    border-radius: 2px;
    background-color: #10aad2;
    float: left;
    margin: 10px 15px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    span.follow-me__icon{
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      margin-right: 8px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 2px 0 0 2px;
      background: rgba(#000, 0.2);
      display: table;
      float: left;
      margin-right: 15px;
    }
  }
}
