/* menu Responsive*/
.menu-responsive {
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0px;
  background: #24282f !important;
  z-index: 9999;
  ul{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    float: left;
    li{
      list-style: none;
      float: left;
      width: 100%;
      text-align: center;
      &.current-menu-item{
        a{
          color: $color-brand !important;
          letter-spacing: 3px !important;
        }
      }
      a{
        width: 100%;
        float: left;
        height: 80px;
        margin-bottom: 10px;
        line-height: 80px;
        color: rgba(255,255,255,1);
        position: relative;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-family: Oswald, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        &.active, &:hover{
          color: $color-brand;
          letter-spacing: 3px;
          &:after{
            content: '';
            position: absolute;
            top: 40px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 30px;
            height: 1px;
            background: $color-brand;
          }
        }
      }
    }
  }
}
.menuBtn {
  width: 80px;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .40s;
  border: none;
  background: #d5a65a;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  display: none;
  z-index: 99999;
  @include mobile{
    display: block;
  }
}
.menuBtn span {
  width: 30%;
  height: 4px;
  background: white;
  position: absolute;
  top: 13px;
  left: 50%;
  border-radius: 4px;
  transform: translateX(-50%);
  transition: .40s;
}
.menuBtn span:before {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: white;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
}
.menuBtn span:after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: white;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.menuBtn:hover {
  background: #ffc76c;
  transition: .40s;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.menuOpened {
  animation: .30s menuOpened linear;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  transform: translateX(0);
  flex: 1;
}
@keyframes menuOpened {
  from { height: 0vh; opacity: 0; border-top-left-radius: 50%; border-top-right-radius: 50%; width: 0; }
  to { height: 100vh; border-radius: 0%; opacity: 1; width: 100%; }
}
.hideBtn {
  display: none;
}
.closeBtn {
  width: 80px;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .40s;
  border: none;
  background: #ffc76c;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  display: block !important;
  animation: .40s fade linear;
  display: none;
  z-index: 99999;
  @include mobile{
    display: block;
  }
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
.closeBtn:hover {
  transition: .40s;
  background: crimson;
}
.closeBtn span {
  width: 30%;
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  transition: .40s;
}
.closeBtn span:before {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: white;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.closeBtn span:after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: white;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}
.info-for-mobile{
  display: none;
  text-align: center;
  line-height: 60px;
  color: $color-brand;
  span{
    color: $color-brand;
    padding: 0 10px;
  }
  @include mobile{
    display: block;
  }
}
