.breadcrumb{
	width: 100%;
	height: 50px;
	float: left;
	@include large-desktop{
		display: none;
	}
	@include tablet{
		display: none;
	}
	@include desktop{
		display: none;
	}
}
.breadcrumb__content{
	width: 100%;
	float: left;
	height: 50px;
	background: rgba(#fff, 0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
	padding-left: 20px;
	line-height: 50px;
	font-family: Oswald, Helvetica, sans-serif;
	font-size: 17px;
	letter-spacing: 1px;
	color: $color-brand;
	position: relative;
	&::after{
		content: '';
		background-color: $color-brand;	
		width: 0;
		height: 0;
		position: absolute;
		bottom: 5px;
		left: 15px;
	}
}