.txt-important{
  color: $color-red !important;
}
.txt-center{
  text-align: center;
}
.txt-uppercase{
  text-transform: uppercase;
}
.txt_right{
  display: table;
}
.txt__link{
  color: $color-brand;
}