.about-page{
  width: calc(100% - 40px);
  margin: 15px 20px 0px 20px;
  float: left;
  background: #fff;
  box-shadow: 0 0 10px rgba(#000, 0.04);
  position: relative;
  .text-background{
    position: absolute;
    top: 50px;
    left: 50%;
    color: rgba(#000, 0.05);
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    @include mobile{
      display: none;
    }
  }
  p{
    line-height: 1.6;
  }
  &:last-child{
    margin-bottom: 20px;
  }
  &:first-child{
    margin-top: 20px;
  }
  @include mobile{
    width: calc(100% - 30px);
    margin: 15px;
  }
  &__left{
    width: 45%;
    float: left;
    @include tablet{
      width: 100%;
    }
    @include mobile{
      width: 100%;
    }
  }
  &__right{
    width: 45%;
    float: right;
    @include tablet{
      width: 100%;
    }
    @include mobile{
      width: 100%;
    }
  }
  &__title{
    width: 100%;
    float: left;
    padding: 30px;
    @include tablet{
      padding: 15px;
    }
    @include mobile{
      padding: 15px;
    }
    h2{
      color: rgba(#000, 0.6);
      font-weight: 500;
      text-transform: uppercase;
      position: relative;
      padding: 15px 0 0 15px;
      letter-spacing: 2px;
      font-family: Oswald, Helvetica, sans-serif;
      font-size: 30px;
      &:after{
        content: '';
        position: absolute;
        width: 60px;
        height: 1px;
        left: 15px;
        top: 65px;
        background: $color-brand;
      }
      &:before{
        content: '';
        position: absolute;
        width: 110px;
        height: 80px;
        left: 0;
        top: 0;
        padding: 5px;
        border: 3px solid rgba(#000, 0.04);
      }
    }
    p{
      color: rgba(#000, 0.8);
      max-width: 500px;
      padding: 30px 15px;
      letter-spacing: 0.5px;
      @include mobile{
        padding: 30px 0;
      }
    }
  }

  &__content{
    width: 100%;
    float: left;
    padding: 15px 45px 30px 45px;
    @include tablet{
      padding: 15px;
    }
    @include mobile{
      padding: 15px;
    }
  }
}

/* About content */
.about__content{
  width: 100%;
  float: left;
  margin-top: -20px;
  padding: 0 45px 45px 45px;
  @include tablet{
    padding: 0 15px 15px 15px;
  }
  @include mobile{
    padding: 0 15px 15px 15px;
  }
}
.about__avata{
  width: 400px;
  height: 400px;
  float: left;
  border: 3px solid rgba(#000, 0.1);
  img{
    width: 100%;
    height: 100%;
    float: left;
    margin: 20px 0 0 20px;
  }
  @include mobile{
    width: 100%;
    height: auto;
    img{
      width: calc(100% - 30px);
      margin: 15px;
    }
  }
}
.about__des{
  width: calc(100% - 400px);
  float: left;
  padding: 30px 50px;
  @include mobile{
    width: 100%;
    padding: 15px;
  }
  h2{
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgba(#000, 0.7);
    margin-bottom: 10px;
  }
  h4{
    font-size: 15px;
    font-weight: 400;
    color: $color-brand;
    margin-bottom: 20px;
  }
  p{
    color: rgba(#000, 0.8);
    margin-bottom: 15px;
    font-size: 15px;
  }
}
/* SKILL LIST */
.skill-row{
  width: 100%;
  float: left;
  padding: 20px 0;
  &__label{
    color: rgba(#000, 0.7);
    font-weight: bold;
    width: 200px;
    float: left;
    font-size: 15px;
    @include mobile{
      width: 100%;
      margin-bottom: 5px;
    }
  }
}
div.meter {
  position: relative;
  width: calc(100% - 200px);
  height: 6px;
  float: left;
  margin-top: 8px;
  /* viewing purposes */
  background: rgba(0,0,0,0.05);
  /* viewing purposes */
  @include mobile{
    width: 100%;
  }
}
div.meter span {
  display: block;
  height: 100%;
  animation: grower 1s linear;
  -moz-animation: grower 1s linear;
  -webkit-animation: grower 1s linear;
  -o-animation: grower 1s linear;
  position: relative;
  top: 0px;
  left: 0px;
  background: #6eb2d1;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 45px 45px;
  -moz-background-size: 45px 45px;
  -o-background-size: 45px 45px;
  background-size: 45px 45px;
}
div.meter--orange span {
  background: #f95101;
}
div.meter--blue span {
  background: #5eb919;
}
div.meter--pure span {
  background: #ef10f9;
}
div.meter span:before {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  position: relative;
  top: 50%;
  background: rgba(0, 0, 0, 0.04);
}
div.meter p {
  position: absolute;
  top: -25px;
  right: 0;
  line-height: 25px;
  -webkit-font-smoothing: antialised;
  font-size: 13px;
  color: $color-brand;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

@keyframes grower {
  0% {
    width: 0%;
  }
}

@-moz-keyframes grower {
  0% {
    width: 0%;
  }
}

@-webkit-keyframes grower {
  0% {
    width: 0%;
  }
}

@-o-keyframes grower {
  0% {
    width: 0%;
  }
}

/* top-skill */
.top-skill{
  width: 100%;
  float: left;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  @include tablet{
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  @include mobile{
    flex-wrap: wrap;
      margin-bottom: 0px;
  }
  &__items{
    width: calc(100%/3 - 20px);
    @include tablet{
      width: 100%;
      margin-bottom: 15px;
    }
    @include mobile{
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &__icon{
    float: left;
    margin-right: 40px;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      width: 1px;
      height: 30px;
      background-color: rgba(#000, 0.2);
      top: 5px;
      right: -20px;
    }
    img{
      width: 30px;
    }
  }
  &__text{
    display: table;
    padding-right: 30px;
    h4{
      color: $color-brand;
      margin-bottom: 15px;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-size: 16px;
    }
    p{
      color: rgba(#000, 0.7);
      font-size: 15px;
    }
  }
}
.skill-detail{
  width: 100%;
  float: left;
}
.my-follow{
  width: 100%;
  float: left;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__items{
    width: calc(50% - 5px);
    margin-bottom: 10px;
    height: 40px;
    color: #5a5a5a;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    @include tablet{
      width: 100%;
    }
    @include mobile{
      width: 100%;
    }
    &--face{
      background: #4267b2;
    }
    &--skype{
      background: #21a7e5;
    }
    &--mail{
      background: #d93025;
    }
  }
}
