.blog-main__content{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  @include tablet{
    padding: 0px;
  }
  @include mobile{
    padding: 0px;
  }
}
.blog-main__post{
  background: #fff;
  flex: 1 0 calc(100%/3 - 30px);
  max-width: calc(100%/3 - 30px);
  position: relative;
  margin: 15px;
  border-radius: 3px;
  @include desktop{
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin: 10px;
  }
  @include tablet{
    flex: 1 0 calc(100% - 20px);
    max-width: calc(50% - 20px);
    margin: 10px;
  }
  @include mobile{
    flex: 1 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 10px;
  }
}

.blog-main__post-ico{
  width: 100%;
  float: left;
  margin: 20px 0;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0,0,0,0.7);
  position: relative;
  .time-color .fa{
    color: #30c3c3 !important;
  }
  .time-like .fa{
    color: #E83535 !important;
  }
  .ico-post .fa{
    margin-right: 7px;
    color: rgba(0,0,0,0.4);
  }
  .ico-post .float-left {
    float: left;
    margin-right: 15px;
  }
  .ico-post .float-left strong {
    color: #1e363e;
    text-transform: capitalize;
  }
  .ico-post .float-right {
    float: right;
  }

}
.blog-detail__post-ico{
  padding-left: 0;
  &:after{
    display: none;
  }
}
.blog-main__post-link{
  width: 100%;
  float: left;
  padding: 15px 20px 0 20px;
  a{
    font-size: 18px;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical !important;

    &:hover{
      color: $color-brand;
    }
  }
}
.blog-main__post-des{
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  float: left;
  color: rgba(0,0,0,0.7);
  padding: 0 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

/* blog__detail */
.blog__detail{
  width: 100%;
  clear: both;
  float: left;

  .blog-main__post-ico{
    padding: 0;
    margin: 30px 0;
  }
}
.blog-detail{
  word-wrap: break-word;
  letter-spacing: 0.5px;
  h4{
    font-size: 20px !important;
    margin-top: 15px;
  }
  h1,h2,h3,h4,h5,h6{
    padding: 0 30px;
    @include mobile{
      padding: 0 15px;
    }
  }
}
.blog__detail__content{
  width: calc(70% - 30px);
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.04);
  float: left;
  margin: 15px;
  line-height: 1.6;
  letter-spacing: 0px;
  @include desktop{
    width: calc(100% - 20px);
    margin: 10px;
  }
  @include tablet{
    width: calc(100% - 0px);
    margin: 0px;
  }
  @include mobile{
    width: calc(100% - 0px);
    margin: 0px;
  }
  p{
    padding: 10px 30px;
    color: #3f3f3f;
    @include tablet{
      padding: 10px 20px;
    }
    @include mobile{
      padding: 10px 15px;
    }
  }
  pre{
    width: 100%;
    margin: 20px 0;
    padding: 10px 30px;
    @include tablet{
      padding: 10px;
    }
    @include mobile{
      padding: 5px;
    }
  }
  img{
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: inherit;
  }
}
.blog__detail__list{
  width: calc(30% - 20px);
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.01);
  float: right;
  margin: 15px 10px;
  @include desktop{
    width: calc(100% - 20px);
    margin-left: 10px;
  }
  @include tablet{
    width: calc(100% - 20px);
    margin-left: 10px;
  }
  @include mobile{
    width: calc(100% - 20px);
    margin-left: 10px;
  }
}
.list__title{
  width: 100%;
  padding: 30px 20px 10px 20px;
  @include mobile{
    padding: 20px 20px 10px 20px;
  }
  span{
    font-family: Oswald, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $color-brand;
    font-size: 22px;
    position: relative;

  }
}
.blog__detail__header{
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding: 30px 30px 0px 30px;
  border-bottom: 1px dashed rgba(#000, 0.1);
  display: table;
  @include tablet{
    padding: 50px 20px;
  }
  @include mobile{
    padding: 50px 15px;
  }
  h1.single__h1{
    font-size: 25px;
    color: #545e6f;
    float: left;
    line-height: 30px;
    position: relative;
    margin-top: 15px;
    @include tablet{
      font-size: 20px;
      line-height: 25px;
    }
    @include mobile{
      font-size: 18px;
    }

  }
}

.next-post{
  width: calc(100% - 20px);
  float: left;
  margin: 10px;
  display: none;
  &__left{
    float: left;
    background: #fff;
    min-width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    img{
      margin-right: 10px;
    }
  }
  &__right{
    float: right;
    background: #fff;
    min-width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    img{
      margin-left: 10px;
    }
  }
  &__icon{
    margin-right: 10px;
    &--ml{
      margin-right: 0;
      margin-left: 10px;
    }
  }
  @include tablet{
    display: block;
  }
  @include mobile{
    display: block;
  }


}
.icon-arrow{
  width: 13px;
}
.blog-main__title p{
  font-size: 14px !important;
}
.list__items{
  width: 100%;
  float: left;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  &:last-child{
    border-bottom: none;
  }
  .blog-main__post-ico{
    width: 100%;
    float: left;
  }
  a{
    color: rgba(#000 , .6);
    font-weight: 600;
    overflow: hidden;
    width: 100%;
    float: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    &:hover{
      color: $color-brand;
    }
  }
}

.blog-main__post__button{
  width: 100%;
  float: left;
  margin-bottom: 20px;
  padding-left: 20px;
  a{
    background: rgba(#11819e, 1);
    color: #fff;
    padding: 8px 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    display: inline-block;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    &:hover{
      background-color: darken(#11819e, 15%);
    }
  }
}
.related-post-des{
  width: 100%;
  float: left;
  margin: 10px 0;
  color: rgba(#000, 0.6);
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* avata Post*/
.blog-main__post-avata{
  width: 100%;
  height: 150px;
  border-radius: 3px 3px 0 0;
  background-position: center center;
  background-size: cover;
}
.post-icon{
  border-radius: 100%;
  float: left;
  img.icon-post{
    width: 30px;
    float: left;
    margin: 0 !important;
  }
}
.post-time{
  float: left;
  line-height: 30px;
  padding-left: 10px;
  color: $color-brand;
  font-size: 14px;
}
.post-view-counter{
  float: left;
  font-size: 14px;
  line-height: 30px;
}
.post-line{
  float: left;
  line-height: 30px;
  color: rgba(#000, 0.4);
  padding: 0 10px;
}
.card__tag-post{
  width: 100%;
  float: left;
  margin: 15px 20px 0 20px;
  a{
    font-size: 13px;
    text-transform: capitalize;
    color: rgba(#000, 0.6);
    border: 1px solid rgba(#000, 0.06);
    padding: 6px 10px;
    &:hover{
      color: $color-brand;
      text-decoration: underline;
    }
  }
}
.card__tag-post.single-page{
  margin: 0 0 10px 0;
}
.blog__detail{
  .blog-main__post-ico{
    margin: 20px 0 !important;
  }
  font-size: 16px;
  p{
    margin-top: 10px !important;
    color: rgba(#000, 1) !important;
  }
  .blog-main__post-avata{
    width: 100%;
    float: left;
    height: 300px;
    min-height: 300px;
    margin: 15px 0 30px 0;
  }
  ul, ol{
    width: 100%;
    float: left;
    padding: 5px 30px;
    @include tablet{
      padding: 10px;
    }
    @include mobile{
      padding: 10px 0;
    }
    li{
      width: calc(100% - 60px);
      float: left;
      list-style: decimal-leading-zero;
      margin: 10px 30px;
    }
  }
}
.blog-main__post-ico.side-list{
  margin: 10px 0 !important;
}
.related-post-des.side-list{
  margin-top: 0 !important;
}
.blog-main__detail-post-avata{
  width: 100%;
  float: left;
  margin-bottom: 15px;
  img{
    width: 100%;
    height: auto;
    float: left;
  }
}
.post-empty{
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size: 16px;
}


/* hightlight code */
.crayon-syntax{
  width: calc(100% - 60px) !important;
  float: left;
  margin: 0 30px;
  background: #22282a !important;
  border-radius: 5px !important;

  @include mobile{
    width: calc(100% - 30px);
    float: left;
    margin: 0 15px;
  }
}
.crayon-syntax .crayon-table{
  width: 100% !important;
}
.crayon-toolbar{
  display: none !important;
}
.crayon-syntax .crayon-line, .crayon-syntax .crayon-num{
  padding: 5px 10px !important;
}
.tag-post{
  width: calc(100% - 60px);
  padding: 30px;
  float: left;
  a{
    padding: 6px 10px;
    background: rgba(#000, 0.03);
    border: 1px solid rgba(#000, 0.06);
    color: rgba(#000, 0.6);
    font-size: 13px;
    margin-right: 5px;
    text-transform: capitalize;
    &:hover{
      background: rgba(#000, 0.07);
    }
  }
  @include mobile{
    width: calc(100% - 30px);
    float: left;
    padding: 20px 15px;
  }
}
div.crayon-main{
  border-radius: 6px;

}
.crayon-theme-son-of-obsidian{
  border: none !important;

}
.crayon-theme-son-of-obsidian .crayon-pre{
  padding: 20px !important;
  @include mobile{
    padding: 15px !important;
  }
}
.crayon-syntax .crayon-main, .crayon-syntax .crayon-plain{
  overflow: hidden !important;
}
.crayon-theme-coy{
  border-radius: 3px !important;
  background: rgba(#000, 0.04) !important;
  padding: 20px !important;
}
