.envira-gallery-wrap .envira-gallery-public .envira-gallery-item img{
  padding: 5px !important;
}
.justified-gallery>div>div>a>.caption, .justified-gallery>div>div>.caption, .justified-gallery>div>div .caption{
  position: absolute;
  bottom: 10px !important;
  padding: 10px!important;
  background-color: rgba(29, 105, 104, 0.9) !important;
  text-transform: capitalize;
  left: 50% !important;
  transform: translateX(-50%) !important;
  border-radius: 50px !important;
  right: inherit !important;
  margin: 0;
  color: white;
  font-size: 13px !important;
  font-weight: 700 !important;
  font-family: sans-serif;
}
#envirabox-close , #envirabox-left, #envirabox-right{
  opacity: 0 !important;
}
.portfolio-content{
  width: 100%;
  float: left;
  padding: 5px;
  background: #fff;
}
